@font-face {
  font-family: 'Hillel';
  font-weight: 400;
  src: url('../assets/fonts/Hillel-CLM-Medium.ttf');
}

@font-face {
  font-family: 'Yehuda';
  font-weight: 400;
  src: url('../assets/fonts/Yehuda-CLM-Light.ttf');
}

@font-face {
  font-family: 'Yehuda';
  font-weight: 900;
  src: url('../assets/fonts/Yehuda-CLM-Bold.ttf');
}

:root {
  color-scheme: light;

  --header-height: 5.5rem;

  --clr-hex-primary: 227, 100%, 17%;
  --clr-hex-secondary: 0, 79%, 28%;
  --clr-hex-accent: 33, 81%, 44%;

  --clr-primary: hsl(227, 100%, 17%);
  --clr-secondary: hsl(0, 79%, 28%);
  --clr-accent: hsl(33, 81%, 44%);

  @media(prefers-color-scheme: dark) {
    --clr-primary: hsl(0, 0%, 100%);
  }


  --fs-200: 0.7rem;
  --fs-300: 0.95rem;
  --fs-400: 1.2rem;
  --fs-500: 1.4rem;
  --fs-600: 1.55rem;
  --fs-700: 1.85rem;
  --fs-800: 2rem;

  @media(min-width: 42.5rem) {
      // --header-height: 7.5rem;
      // background-color: red;

      --fs-200: 0.8rem;
      --fs-300: 1.2rem;
      --fs-400: 1.25rem;
      --fs-500: 1.45rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 2.7rem;
    }

  @media(min-width: 62.5rem) {
    // --header-height: 7.5rem;
    // background-color: red;

    --fs-200: 0.9rem;
    --fs-300: 1.15rem;
    --fs-400: 1.45rem;
    --fs-500: 1.65rem;
    --fs-600: 1.8rem;
    --fs-700: 2.15rem;
    --fs-800: 2.5rem;
  }

  --ff-primary: 'Yehuda';
  --ff-secondary: 'Hillel';

  --fw-400: 400;
  --fw-900: 900;
}

/** UTILITIES **/
.d-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap, 1em);

  &.flex-column {
    flex-direction: column;

  }
}

.container {
    padding-inline: var(--container-size, 5vw);
    margin-inline: auto;
}

.background-pink {
  background-image: url('/assets/wallpapers/pink-watercolor.jpeg');
  background-position: center;
  background-size: cover;
}

.background-yellow {
  background-image: url('/assets/wallpapers/light-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-blue {
  background-image: url('/assets/wallpapers/blue-background.jpg');
  background-position: center;
  background-size: cover;
}

.text-primary {
  color: var(--clr-primary);
}

.text-secondary {
  color: var(--clr-secondary);
}

.inner-glow {
  position: relative;
  isolation: isolate;

  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    inset:0;
    box-shadow: 0 0 7px 3px rgb(white, 1) inset;
    z-index: 1;
  }
}

/** COMPONENTS **/

.card {
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.2);
  width: 100%;
  transition: scale 350ms;
  isolation: isolate;

    img {
        max-height: 7rem;
        object-fit: cover;
        width: 100%;
      }

    .title {
      padding-block: 0.75em;
      padding-inline: 1em;
      color: var(--clr-secondary);
    }

  &:focus-within {
    outline: 2px solid var(--clr-accent);
  }
}


.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-900);
  line-height: 1;
  outline: 2px solid rgb(white, 0.5);
  outline-offset: -1px;
  border-radius: 10px;
  border: 1px solid var(--clr-primary);
  box-shadow: 2px 2px 10px 2px hsl(var(--clr-hex-accent), 0.4);
  color: var(--clr-primary);
  background-color: hsl(var(--clr-hex-accent), 0.4);
  padding: 0.5em 1.75em;
  transition: scale 250ms;

  &:hover,
  &:focus-visible {
    scale: 1.05;
    outline: 2px solid var(--clr-accent );
  }

  &:active {
    scale: 0.9;
  }

  &[data-small="true"] {
    font-size: var(--fs-300);
    padding: 0.25em 1.5em;
  }
}

/** LAYOUT **/

section:not(.hero,#shadow-host-companion, .about) {
  padding-block: 3rem;
  box-shadow: 0 0 10px 5px rgb(white, 1) inset;
}

body {
  font-size: var(--fs-400);
  font-family: var(--ff-primary);
  color: var(--clr-secondary);
  // background-color: hsla(30, 50%, 93%, 0.25);
}

header {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  // max-height: var(--header-height, 5rem);
  justify-content: space-between;
  padding-block: 0.8em;
  color: var(--clr-secondary);
  transition: scale 450ms,
              opacity 450ms,
              max-height 350ms ;
  transform-origin: top;


  &.open {
    height: 100%;
    max-height: 100%;
    box-shadow: 0 0 100vh 100vh rgb(black, 0.5);


    nav {
      display: flex;
      position: absolute;
      inset: 0;
      top: var(--header-height);
      flex-direction: column;
      justify-content: space-around;

      ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        font-size: var(--fs-500);
        align-items: center;
        justify-content: center;

        @media(min-width:42.5rem) {
          font-size: var(--fs-600);
        }
      }

      .btn {
        font-size: var(--fs-400);
      }
    }
  }

  .container {
    justify-content: space-between;
    max-width: 80rem;

  }
  &.hide {
    scale: 100% 0;
    opacity: 0;
  }

  .logo {
    --gap: 0;
      color: inherit;
  }
  .logo img {
    width: 3rem;
  }
  h1 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: var(--fs-600);

    span {
      font-size: var(--fs-200);
    }
  }

  nav {
    --gap: var(--fs-500);
    display: none;

    ul {
      font-size: var(--fs-200);
      font-weight: var(--fw-900);
      letter-spacing: 1px;
    }
    li {
      transition: scale 350ms;
    }
    a {
      color: inherit;
    }
    li:hover {
      scale: 1.1;
    }

    @media(min-width: 64rem) {
      font-size: var(--fs-200);
      display: flex;
      flex: 1;
      justify-content: space-between;
    }

    .btn {
      font-size: inherit;
      align-self: center;
      padding-inline: 1.5em;
    }
  }

  .menu-toggle {
    border: 0;
    padding: 0.5em;
    background-color: transparent;

    @media(min-width: 64rem) {
      display: none;
    }
  }

  .menu-icon {
    width: var(--fs-600);
  }
}

.hero {
  --container-size: 2rem;
  margin-top: calc(var(--header-height));
  min-height: calc(100dvh - var(--header-height));
  position: relative;
  @media(min-width: 72.5rem) {
    // display: flex;
  }

  img {
    max-height: calc(100dvh - var(--header-height));
    min-height: calc((100dvh - var(--header-height)) / 2);
    width: 100%;
    object-fit: cover;

    @media(min-width: 72.5rem) {
      height: 100%;
    }
  }
  .inner-glow {
    width: 100%;
    overflow: hidden;

    @media(min-width: 72.5rem) {
      height: calc(100vh - var(--header-height));
    }
  }
  &_text {
    padding-block: 5rem;
    max-width: 60ch;
    text-align: center;
    font-size: var(--fs-500);


    @media(min-width: 72.5rem) {
      position: absolute;
      --container-size: 2em;
      justify-content: center;
      left: 5vw;
      top: -25%;
      bottom: 0;
      width: 30%;
      opacity: 0;
      // background-color: white;
      // translate: -150% 0;
    }

  h2 {
    font-size: inherit;
  }
 }

 .btn {
  font-size: var(--fs-300);
 }
}

.video {
  text-align: center;
  // min-height: 100vh;

  h2 {
    margin-block-end: 0.5em;
    font-size: var(--fs-700);
  }
  iframe {
    width: 90%;
    aspect-ratio: 16/9;
  }
}

.about {
  position: relative;
  padding-block: 2rem;

  @media(min-width: 72.5rem) {
    padding-block: 5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 1fr;

    .quote {
      padding-block-start: 4rem;
      padding-inline: 2em;
      grid-column: 1 / 2;
      grid-row: 1 / -1;

    }
    &_text {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
    }
    &_cards {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 2 / -1;
    }
  }

  quote {
    position: relative;
    &::before {
      content: open-quote;
      position: absolute;
      // background-color: red;
      top: -0.2em;
      right: -0.25em;
      // width: 2em;
      // height: 2em;
      font-size: 15em;
      color: hsl(var(--clr-hex-secondary), 0.15);
      line-height: 1;
    }

    &::after {
      content: close-quote;
      position: absolute;
      bottom: -0.05em;
      left: 0.2em;
      font-size: 5em;
      color: hsl(var(--clr-hex-secondary), 0.1);
      line-height: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background-image: url('../assets/wallpapers/blue-background.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    inset: 0;
    top: 40%;
    z-index: -1;
    box-shadow: 0 0 7px 3px rgb(white, 1) inset;

    @media(min-width:72.5rem) {
      transform: rotate(0);
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      top: -5rem;
      bottom: -5rem;
    }
  }
  .quote {
    display: none;
    text-align: center;
    font-size: var(--fs-300);
    font-family: var(--ff-secondary);
    max-width: 35ch;
    margin-inline: auto;

    @media(min-width: 72.5rem) {
      display: block;
    }

    p {
      font-family: var(--ff-primary);
      font-weight: var(--fw-900);
      font-size: var(--fs-200);
      text-align: end;
      margin-block: 2em;
    }
  }

  &_text {
    --container-size: 2rem;
    text-align: center;
    padding-block-start: 3rem;
    p {
      max-width: 45ch;
      margin-inline: auto;
    }
  }

  &_cards {
    --container-size: 3rem;
    --gap: 2rem;

    padding-block: 3rem;
    align-items: stretch;
    justify-content: center;

    .card {
      flex-basis: 20rem;
      min-width: fit-content;

      &:hover, :focus-visible {
        scale: 1.05;
      }

      @media(min-width: 72.5rem) {

        img {
          max-height: 15rem;
        }
      }
    }
  }
}


.activities {
    --container-size: 1.5rem;
    --card-height: 15rem;

    @media(min-width: 52.5rem) {
      --container-size: 3.5rem;
      --card-height: 18rem;
    }

    @media(min-width: 72.5rem) {
      --container-size: 5.5rem;
      --card-height: 23rem;
    }

    padding-block-end: 2.5rem;
    min-height: 100dvh;

  h2 {
    text-align: center;
    color: var(--clr-secondary);
    font-size: var(--fs-700);
    grid-column: 1 / -1;
    justify-content: center;
      align-items: center;
      display: flex;

    @media(min-width:72.5rem) {
      grid-column: 2/ 6;
      grid-row: 3/6;
      min-height: 20rem;
    }
  }

  &_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-height), 1fr));
    gap: 0.5em;

    @media(min-width:72.5rem) {

      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(11, 1fr);

      .card:nth-child(2) {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
      }
      .card:nth-child(3) {
        grid-column: 4 / span 3;
        grid-row: 1/ span 3;

        img {
          object-position: 0 20%;
        }
      }
      .card:nth-child(4) {
        grid-column: 1 / span 2;
        grid-row: 3 / span 3;
      }
      .card:nth-child(5) {
        grid-column: 3 / span 2;
        grid-row: 5 / span 2;
      }
      .card:nth-child(6) {
        grid-column: 5 / span 2;
        grid-row: 4 / span 2;
      }
      .card:nth-child(7) {
        grid-column: 5 / span 2;
        grid-row: 6 / span 3;
      }
      .card:nth-child(8) {
        grid-column: 1 / span 2;
        grid-row: 6 / span 6;
      }
      .card:nth-child(9) {
        grid-column: 3 / span 2;
        grid-row: 7 / span 2;
      }
      .card:nth-child(10) {
        grid-column: 3 / span 4;
        grid-row: 9 / span 3;

        img {
          object-position: 0 50%;
        }
      }
    }
  }

  .card {
    @media(max-width:72.4rem) {
      aspect-ratio: 1/0.7;
    }
    a {
      display: grid;
    }
    &:hover {
      img {
        scale: 1.1;
      }
      p {
        opacity: 1;
      }
    }

    box-shadow: 0 0 7px 3px rgb(white, 1) inset;
    display: grid;
    img {
      object-fit:cover;
      object-position: 50% 30%;
      min-height: 100%;
      grid-column: 1/ -1;
      grid-row: 1/ -1;
    }
    p {
      grid-column: 1/ -1;
      grid-row: 1/ -1;
      margin-top: auto;
      margin-bottom: 0.5em;
      margin-inline: 1em;
      color: rgb(255, 234, 217);
      font-size: var(--fs-500);
      line-height: 1.1;
      isolation: isolate;
      transition: opacity 1050ms;
      pointer-events: none;
      @media(min-width:72.5rem) {
        text-align: start;
        opacity: 0;
      }
    }
    p::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 30%;
      background-image: linear-gradient(transparent ,rgb(black, 0.8));
      padding-top: 0.5em;
      z-index: -1;
      pointer-events: none;
    }
  }
}

.case {
  text-align: center;
  overflow-x: hidden;

  .section_header {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: calc(var(--container-size, 1rem) * -1) calc(var(--container-size, 1rem) * -5);
      box-shadow: 0 0 10px 5px rgb(white, 1) inset;
    }
  }

  .case_content {
    justify-content: center;
    margin-block-start: 3rem;

    @media(min-width: 72.5rem) {
      text-align: start;
    }

    @media(min-width: 87.5rem) {
      gap: 5rem;
    }

    .school_section {
      position: relative;
      // padding-block: 0.5rem;
      // text-align: start;
      p {
        margin-block-end: 0;
      }
      @media(max-width: 72.4rem) {
        .expandable {
          display: none;
        }

        &.expand {
          .expandable {
            display: flex;
          }
        }
      }

      .toggle-expand {
        position: absolute;
        bottom: -1.75em;
        right: 1em;
        font-size: 0.85em;
        padding: 0;
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: hsl(var(--clr-hex-primary), 0.6);
        cursor: pointer;
        @media(min-width: 72.5rem) {
          display: none
        }
        &:hover {
          color: hsl(var(--clr-hex-primary), 0.9);
        }
      }
    }

  }

  .case_cards {
    img {
      object-position: 50% 20%;
    }
  }
  h2 {
    color: var(--clr-secondary);
    padding-block: 0.15em;
    font-size: var(--fs-700);
  }

  p {
    margin-block-end: 1rem;
  }

  &.kindergardens {
    margin-block-start: 2rem;

    .case_cards {
      flex-direction: column;
    }
  }

  &.school {
    overflow-y: hidden;

    h3 {
      margin-block-start: 3rem;
      // margin-block-end: 0.5em;
      color: var(--clr-primary);
      font-size: var(--fs-700);
      font-family: var(--ff-secondary);
      text-align: center;

      // @media(min-width: 72.5rem) {
      //   margin-block-start: 3rem;
      // }
    }
    .case_cards {
      display: flex;
      justify-content: center !important;
      align-items: center;
      gap: 2rem;
    }
    .d-flex {
      --gap: 1rem;

      @media(min-width: 72.5rem) {
        --gap: 3rem;
        justify-content: center;
      }
      justify-content: start;
      flex-direction: row-reverse;

      &.column {
        flex-direction: column;
      }
    }
  }
  &.kindergardens .section_header:after {
    background-image: url('../assets/wallpapers/light-background.jpg');
  }
  &.school .section_header:after {
    background-image: url('../assets/wallpapers/pink-watercolor.jpeg');
  }
  &.organization .section_header:after {
    background-image: url('../assets/wallpapers/blue-background.jpg');
  }

  &_cards {
    justify-content: center;
  }
  .card {
    width: 80%;
    aspect-ratio: 16/9;
    object-fit: cover;

    @media(min-width: 72.5rem) {
      max-width: 30rem;

    }
  }

  @media(min-width: 72.5rem) {
    .card {
      width: 100%;
    }
    .section_header {
      display: flex;
      width: fit-content;

    }
    &.kindergardens {
      .section_header {
        &::after {
          right: -10vw;
          top: -1em;
          bottom: -1em;
        }
      }
      h2 {
        text-align: start;
        padding-inline-start: 40vw;
        padding-inline-end: 3rem;
      }

      .case_content {
        flex-direction: row-reverse;
      }

      .case_cards {
        .card {
          width: 100%;
        }
      }

      p {
        max-width: 50ch;
        margin-inline: 0;
      }
    }
    &.school {
      .section_header {
        margin-inline-start: auto;

        &::after {
          left: -5vw;
        }
      }
      h2 {
        text-align: start;
        padding-inline: 2rem;
        padding-inline-end: 40vw;

      }
    }
    &.organization {
      .section_header {
        .card {
          width: 90%;
        }
        &::after {
          left: 0%;
          right: -10vw;
          top: -1em;
          bottom: -1em;
        }
      }

      h2 {
        text-align: center;
        padding-inline-start: 20vw;
        padding-inline-end: 3rem;
      }
      p {
        padding-block: 3rem;
      }
    }
  }

}

// .read-more {
//   display: flex;
//   margin-block: 1em;
//   .btn {
//     margin-inline: auto;
//   }
// }




.contact {
  justify-content: stretch;
  padding-block-end: 5rem;
  &_text {
    margin-inline: auto;
    max-width: 50ch;
  }

  .quote {
    font-family: var(--ff-secondary);
    font-size: var(--fs-500);
    max-width: 40ch;
    line-height: 1.3;
    position: relative;
    span {
      display: block;
    }

    &::before {
      content: open-quote;
      position: absolute;
      // background-color: red;
      top: -0.2em;
      right: -0.25em;
      // width: 2em;
      // height: 2em;
      font-size: 10em;
      color: hsl(var(--clr-hex-primary), 0.15);
      line-height: 1;
    }
    &::after {
      content: close-quote;
      position: absolute;
      bottom: -0.55em;
      right: 1em;
      rotate: -3deg;
      font-size: 3em;
      color: hsl(var(--clr-hex-secondary), 0.1);
      line-height: 1;
    }
  }

  .quote_name {
    text-align: end;
    font-size: var(--fs-300);
    font-weight: var(--fw-900);
    align-self: flex-end;
  }

  &_content {
    max-width: 55rem;
    margin-inline: auto;
    justify-content: space-evenly;
    font-size: var(--fs-500);
    margin-block: 4rem;
  }

  &_form {
    padding-block-end: 2rem;
    flex: 1;

    .form-inputs {
      --gap: 0.3em;
      align-items: flex-end;

      .form-group {
        display: flex;
        align-items: center;
        gap: 0.5em;

        label {
          min-width: 2.5rem;
          font-weight: var(--fw-900);
          font-size: var(--fs-300);
        }
        input {
          flex: 1;
          border-radius: 5px;
          border: 1px solid var(--clr-secondary);
        }
      }
    }

    .btn {
      align-self: flex-end;
      font-size: var(--fs-300);
    }
  }

  &_details {
    --gap: 0.3em;
    line-height: 1;
    align-items: flex-start;
    align-self: flex-start;
    font-weight: var(--fw-900);
    letter-spacing: 0.75px;

    h2 {
      color: var(--clr-primary);
      margin-block-end: 0.25em;
      font-size: var(--fs-600);
    }
  }
}


footer {
  --container-size: 2rem;
  margin-block-start: -2em;
  padding-block-end: 1rem;

  .footer_wrapper {
    gap: 1em;
    justify-content: center;

    @media(min-width: 5.5rem) {
      gap: 3em;
    }
  }

  img {
    border-radius: 10px;
    margin-inline: auto;
  }

  p {
    font-size: var(--fs-300);


    span {
      margin-inline: 0.25em;
    }
  }

  ul {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    width: fit-content;

    @media(min-width: 32.5rem) {
      column-gap: 3em;
    }
    @media(min-width: 42.5rem) {
      column-gap: 5em;
    }

    a {
      font-family: var(--ff-secondary);
      color: var(--clr-secondary);
    }
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  align-items: center;
  justify-content: center;
}

/* Modal Content/Box */
.modal-content {
  // background-color: #fefefe;
  // margin: 5% auto;
  padding-inline: 0.5em;
  /* 15% from the top and centered */
  // padding: 20px;
  // border: 1px solid #888;
  width: fit-content;
  max-height: 90%;
  /* Could be more or less, depending on screen size */
  img {
    max-height: 80dvh;
    display: block;
    margin-inline: auto;
  }
}

/* The Close Button */
.close {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(190, 190, 190);
  text-decoration: none;
  cursor: pointer;
}
