// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

p {
  max-width: 60ch;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MY CSS */

@font-face {
  font-family: 'Hillel';
  src: url('./assets/fonts/Hillel\ CLM\ Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Yehuda';
  src: url('./assets/fonts/Yehuda\ CLM\ Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Yehuda';
  src: url('./assets/fonts/Yehuda\ CLM\ Bold.ttf');
  font-weight: 900;
}

:root {
  --clr-primary-400: hsl(227, 100%, 17%);
  --clr-secondary-400: hsl(0, 79%, 28%);
  --clr-secondary-800: hsl(0, 46%, 24%);
  --clr-accent-400: hsl(38, 67%, 86%);

  --fs-300: .925rem;
  --fs-400: 1.125rem;
  --fs-500: clamp(0.95rem, 3vw, 1.25rem);
  --fs-600: clamp(1rem, 2.5vw, 1.75rem);
  --fs-700: clamp(1.25rem, 3vw, 2rem);

  --header-height: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Yehuda';
}

p,
quote,
a {
  font-family: 'Yehuda';
  font-weight: 400;
}

/*  UTILITIES  */
section:not(.hero) {
  padding-block: 5rem;

  h2 {
      text-align: center;
      margin-block-end: 2rem;
  }

  &:not(.contact) .flex-row {
    justify-content: center;
  }
}

.text-primary {
  color: var(--clr-primary-400);
}

.text-secondary {
  color: var(--clr-secondary-400);
}

.text-accent {
  color: var(--clr-accent-400)
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fw-regular {
  font-weight: 400;
}
.fw-bold {
  font-weight: 900;
}

.flex-row {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: var(--gap, 1rem);
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  // justify-content: start;
  gap: var(--gap, 1rem)
}

.container {
  margin-inline: var(--margin-sides, 2rem);

}

.background-pink {
  background-image: url('/assets/images/pink-watercolor.jpeg');
  background-position: center;
  background-size: cover;
}

.background-yellow {
  background-image: url('/assets/images/light-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-blue {
  background-image: url('/assets/images/blue-background.jpg');
  background-position: center;
  background-size: cover;
}

/*  COMPONENTS  */
.card-img {
  --border-radius: 10px;

  position: relative;
  isolation: isolate;
  display: grid;
  place-items: center;
  color: var(--clr-accent-400);
  font-size: var(--fs-600);
  border-radius: var(--border-radius);
  overflow: hidden;
  min-height: 10rem;

  &:after {
    position: absolute;
    content: '';
    inset: 0;
    opacity: 0.7;
    background-color: black;
    transition: opacity 150ms linear;
  }

  &:hover::after {
    opacity: 0.5;
  }

  &:hover p {
    scale: 1.15;
  }

  img,
  p {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  img {
    position: absolute;
    min-height: 100%;
    object-fit: cover;
  }

  p {
    z-index: 1;
    transition: scale 150ms linear;
  }
}

.card {
  --gap: 0em;
  // max-height: 25rem;

  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 15rem;
  box-shadow: 3px 3px 5px 1px rgb(0, 0, 0, 0.2);

  &_img {
    position: relative;
    width: 100%;
    min-height: 10rem;

    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &_content {
    padding: 1.25em 2.5em;

    h3 {
      margin-bottom: 0.5em;
    }

    p {
      position: relative;
      padding-block-end: 0.8em;
    }

    p:not(:last-child):after {
      content: '';
      position: absolute;
      inset: 1.5em 0 0 0;
      background-image: url('/assets/images/devider.png');
      background-position: center;
      background-size: cover;
    }
  }

}

.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Yehuda';
  font-weight: 900;
  line-height: 1.5;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgb(black, 0.5);
  color: var(--clr-secondary-400);
  background-color: #F9DADF;
  padding: 0.25em 2.5em;
  transition: scale 250ms;

  &:hover,
  &:focus-visible {
    scale: 1.05;
  }

  &:active {
    scale: 0.9;
  }

  &[data-small="true"] {
    font-size: var(--fs-300);
    padding: 0.25em 1.5em;
  }
}


/*  LAYOUT  */
header {
  --gap: 3rem;
  --header-padding-block: 0.5;

  z-index: 1;
  padding: 0.5em 2em;

  .logo {
    --gap: 0;
    color: var(--clr-primary-400);

    &_title {
      font-size: var(--fs-700);
      line-height: 1;

      & span {
        font-size: var(--fs-300);
      }
    }

    img {
      height: calc(var(--header-height));
    }

  }

  .btn {
    margin-inline-start: auto;
  }

  nav a{
    color: var(--clr-secondary-800);

    &:hover {
      color: var(--clr-secondary-400);
    }
  }

  nav ul {
    --gap: 1.5rem;
    font-size: var(--fs-400);
  }
}

.hero {
  &_img img {
    height: calc(100vh - var(--header-height) - 1rem);
    width: 100%;
    object-fit: cover;
  }

  &_body {
    height: 100vh;
    color: var(--clr-secondary-800);
  }

  &_quote-wrapper {
    --gap: 2rem;

    padding: 10rem 5rem;

    .hero_name {
      align-self: flex-end;
      --gap: 0;
    }
  }
}

.about {
  --gap: 2rem;

  justify-content: center;

  &_content {
    align-items: stretch;
  }

  &_text {
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &_cards {
    --gap: 2rem;
    flex: 1;
  }
}

.video {
  --margin-sides: 5rem;

  iframe {
    width: 100%;
    aspect-ratio: 18/9;
  }
}

.cta {
  --margin-sides: 6rem;
  text-align: center;
  color: var(--clr-secondary-400);

  p {
    margin-block-end: 1.5rem;
    margin-inline: auto;
  }
}

.activity {
  .cards-grid {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .card-img {
      &:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 3 / -1;
        grid-row: 1 / 3;
      }
      &:nth-child(3) {
        grid-column: 4 / -1;
        grid-row: 3 / 5;
      }
      &:nth-child(4) {
        grid-column: 3 / -1;
        grid-row: 5 / -1;
      }
      &:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 5 / -1;
      }
      &:nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 2 / -1;
      }

    }

  }
  &_title {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    align-self: flex-end;
    justify-self: center;
  }
}

.kindergarden, .school, .organization {
  --gap: 2.5rem;
}

.contact {
  --margin-sides: 15rem;
  --gap: 4.5rem;
  &_quote {
    --gap: 2.5rem;

    letter-spacing: 2px;
    line-height: 1.3;

    p {
      font-family: 'Hillel';
    }

    span {
      display: block;
    }

    &-name {
      align-self: flex-end;
    }
  }
  &_details {
    align-self: flex-start;
    h5 {
      margin: 0;
      margin-block-end: 1em;
    }
  }

  &_form {
    justify-content: space-between;
  }

  form {
    .form-inputs {
      --gap: 0.35em;
      align-items: flex-end;
      padding-inline-end: 3.5rem;
      margin-block-end: 1rem;
    }

    .form-group {
      display: flex;
      gap: 0.75em;
      align-items: center;

      label {
        font-family: "Yehuda";
        font-weight: 900;
      }
      input{
        background-color: rgb(rgb(172, 171, 171), 0.5);
        border: 0.75px solid var(--clr-secondary-400);
        border-radius: 0.25em;
        width: 15rem;
      }
    }

    button {
      display: block;
      margin-inline-start: auto;
    }
  }
}

footer {
  .container {
    flex-wrap: nowrap;
  }

  .logo {
    --gap: 0;

    img {
      border: 3px solid var(--clr-primary-400);
      border-radius: 10px;
      box-shadow: 4px 4px 4px rgb(black, .25);
    }

    span {
      margin-inline-end: 0.25em;
    }
  }

  ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: 2.5em;

    a {
      text-decoration: none;
      font-family: 'Hillel';
      letter-spacing: 0.5px;
      color: var(--clr-secondary-800);
      transition: color 250ms;

      &:hover {
        color: var(--clr-secondary-400);
      }
    }
  }
  .footer_wrapper {
    translate: 0 -10%;

    .flex-row {
      justify-content: center;
    }

    & > img {
      margin-inline: auto;
    }
  }

}
